{% extends 'index.html' %}
{% load static %}

{% block content %}
    <p class="cart_response"></p>
    <div class="col-sm-4">
        <img src="{{ product.image.url }}" style="height: 250px; width: 100%">
    </div>
    <div class="col-sm-8">
        <h3 class="text-center">{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        <p>Price: <strong>{{ product.price }} tg</strong></p>
        <hr/>
        {% if user.is_authenticated %}
            <p class="text-center">
            <button type="submit" id="{{ product.slug }}" class="cart btn btn-danger">Add to cart</button>
            </p>
        {% else %}
             <p class="text-center">Only authorized or registered users can add to cart. Please
                <a href="{% url 'login_view' %}">login/register</a>
             </p>
        {% endif %}
    </div>
    <hr/>
{% endblock %}